<div class="col-sm-6 col-sm-offset-3">
    <p>
    ID: {{user._id}}<br/>
    Name: {{user.firstName}} {{user.lastName}}<br/>
    Profession: {{user.profession}} <br/>
    Bio: {{user.bio}}
    </p>
</div>

